#films{
  position: relative;
  user-select: none;

  &[input-mode="wheel"]{
    cursor: none !important;
    *{
      cursor: none !important;
    }
  }
  &[input-mode="wheel"],
  &[input-mode="touch"],
  &[input-mode="touch drag"]{
    .line{
      display: none;
    }
    .mouse-selector,.tick{
      position: fixed;
      top: 50vh;
      &.tick{
        margin-top: 10px;
      }
    }
  }
  &[input-mode="touch"],
  &[input-mode="touch drag"]{
    height: auto;
    .list{
      [is-home='false'] & {
        padding-top: 30px;
      }

    }
  }



  .list{
    padding-top: calc(50vh - var(--film-height) / 2);
    padding-bottom: calc(50vh - var(--film-height) / 2);
    //déplacement de la liste
    //transition: all 0.1s ease-out;
    //max-width: 80vw;
    margin: 0 auto;

  }



}
@import "film.less";

