//actif & hover
.film{
  //border: 10px solid yellow;
  //the one ou pas?
  color:#fff;
  filter: brightness(0.5);
  &[the-one]{
    filter: none;
    animation-name: film-selected;
    animation-iteration-count: 1;
    animation-duration: 0.75s;
  }

  transition: height 0.5s ease-in-out;
  a{
    >span{
      transition: all 0.45s ease-in-out;
    }
  }

  @keyframes film-selected{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.05);
    }
    100%{
      transform: scale(1);
    }
  }

}
//masque
.film{
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000; //pour éviter de voir la video (bug affichage)
  a{
    border: 2px solid #000;
    background-color: rgba(0, 0, 0,1);
    overflow: hidden;
    z-index: 1;
    position: relative;
    top: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    flex-direction: column;
    >span{
      display: block;
    }
    >i{
      display: block;
    }
    .previews{
      overflow: hidden;
      mix-blend-mode: multiply;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left:0;
    }
  }
}
//typographie etc...
.film{
  text-align: center;
  line-height: 1;
  position: relative;
  height: var(--film-height);
  a{
    height: 100%;
    text-decoration: none !important;
    text-align: center;
    >span{
      font-size:var(--film-font-size) !important;
      line-height: 1;
      margin-bottom: -0.15em;
    }
    >i{
      font-style: normal;
      font-size: var(--film-font-size-small);
      line-height: 1;
      font-family: var(--font-paragraphe-titre);
      //margin-top: -1.5vw;
    }
  }
}

//previews...
.film{
  &.paused{
    video{
      display: none !important;
    }
  }
  .previews{
    pointer-events: none;
    .preview{
      //affiche que la premiere preview
      display: none;
      &:nth-child(1){
        display: block;
      }
      >img{
        //filter: blur(16px);
      }
      >video,>img{
        padding: 0;
        margin:0;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100%);
        overflow: hidden;
        object-fit: cover;
      }
    }
  }
}