.film-page{

    >.top{
      //background-color: #222;
      height: calc(100vh - var(--typo-size-h1) - 30px );
    }
    >.body{

    }
    >.footer{

    }


  .top{
    position: relative;
    >div{
      position: relative;
      height: 100%;
      width: 100%;
      iframe{
        width: 100%;
        height: 100%;
      }
    }

  }

}