.film-page{

  >.top{}
  >.body{}
  >.footer{}



  .top{
    //outline: 1px solid red;
    position: relative;
    z-index: 1;

    >.js-video-wrap{
      //outline: 1px solid yellow;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      height: calc( 100vw / 16 * 9);
      @media(min-width: @nav-breakpoint){
        height: calc(100vh - var(--typo-size-h1) - 30px);
      }
      width: 100%;
      .js-video{
        position: absolute;
        width: calc( 100% - var(--typo-size-h1)  * 3 + 10px * 2);
        height: 90%;
        background-color: #000;
        //border: 1px solid red;
        iframe{
          //border: 1px solid red;
          width: 100%;
          height: 100%;
        }
      }

      .play-button{
        z-index: 2;
        cursor:pointer;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        color: #fff;
        background-color: transparent;
        //background-color: rgba(255, 255, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        >svg{
          margin-top: calc( var(--nav-bar-height) * -0.5 );
          @media(min-width: @nav-breakpoint){
            margin-top: calc(var(--typo-size-h1) - 30px);;
          }
          border-radius: 100%;
          background-color: rgba(0, 0, 0, 0.6);
          width: 7vw;
          height: 7vw;
        }
      }

    }
  }
  .row,.container-page{
    overflow: visible;
  }




  .body{
    .h2mb{
      margin-bottom: 1em;
    }
  }

}


.title-player{
  display: flex;
  align-items: baseline;
  [play]{
    margin-left: 1vw;
    cursor: pointer;
    user-select: none;
  }
  [timer]{

    //font-family: var(--font-DrukXCondensed-super);
    //font-size: 30px;
    font-size: 10px;
    font-weight: bold;
    user-select: none;
    color: #fff;
  }
}

.js-video-wrap{

  .js-video-wrap,.js-video{
    transition: all 1s;
  }

  .js-video{
    opacity: 0;
    //transform: scale(0.9);
  }
  .play-button{
    opacity: 1;
    //transform: scale(1);
  }

  &.playing{
    .js-video{
      opacity: 1;
      //transform: scale(1);
    }
    .play-button{
      opacity: 0;
      //transform: scale(0.9);
      pointer-events: none;
    }
  }



}