[hello-logo]{
  //margin-top: 10px;
  height: var(--nav-bar-height);
  width: calc(var(--nav-bar-height) * 4 );
  //outline: 1px solid red;
  svg{
    width: 100%;
    height: 100%;
    //outline: 1px solid pink;
  }
}

.nav-open{
  [hello-logo]{

  }
}
