@nav-breakpoint:@screen-lg;

#root{
  -webkit-tap-highlight-color: transparent;
  --grid-padding:10px;
  --nav-bar-height:70px;
  --film-font-size:25vw;
  --film-font-size-small:12px;
  --film-height:32vw;

  @media(min-width: @screen-md){
    --nav-bar-height:100px;
  }
  @media(min-width:@screen-lg){
    --film-height:24vw;
    --film-font-size-small:1vw;
  }
  .nav-open & {
    @media(min-width: @nav-breakpoint){
      --film-height: 14vw;
      --film-font-size: 12vw;
    }
  }
  @media(min-width: @screen-xl){
    --nav-bar-height:6vw;
  }
}

html{
  overflow-y: scroll;
}
@import "nav.less";
body{
  &.nav-open{
    #main-content{
      display: none;
    }
  }
  #main-content{
    z-index: @z-page;
  }

  &[is-home='true']{
    #main-content{
      //display: none;
    }
  }

}
