@nav-breakpoint:700px;

#root{
  -webkit-tap-highlight-color: transparent;
  --grid-padding:10px;
  --nav-bar-height:70px;


  --film-font-size-zoom:25vw;
  --film-font-size-small:12px;
  --film-font-size:var(--film-font-size-zoom);
  --film-height:32vw;

  @media(min-width: @screen-md){
    --nav-bar-height:100px;
  }
  @media(min-width:@screen-lg){
    --film-height:25vw;
    --film-font-size-small:1vw;
  }
  .nav-open & {
    @media(min-width: @nav-breakpoint){
      --film-height: 14vw;
      --film-font-size: 12vw;
    }
  }
  @media(min-width: @screen-xl){
    --nav-bar-height:6vw;
  }
}

body{
  --film-display:none;
  --film-pointer:none;
  --film-opacity:0.0;
  --film-max-h:100vh;

  --page-display:block;
  --page-pointer:auto;
  --page-opacity:1;
  --page-max-h:auto;

  &[is-home="true"],&.nav-open{
    --film-display:block;
    --film-opacity:1;
    --film-pointer:auto;
    --film-max-h:auto;

    --page-display:none;
    --page-pointer:none;
    --page-opacity:0.0;
    --page-max-h:100vh;
  }

  #films{
    //display: var(--film-display);
    pointer-events: var(--film-pointer);
    opacity: var(--film-opacity);
    max-height: var(--film-max-h);
  }
  #main{
    //display: var(--page-display);
    pointer-events: var(--page-pointer);
    opacity: var(--page-opacity);
    max-height: var(--page-max-h);
  }

  #films,#main-content{
    transition: opacity 1s;
    position: absolute;
    width: 100%;
    top: 0;
  }

}

@import "../motion/transi-film.less";

#main-content{
  z-index: var(--z-page);
}
#transi-film{
  z-index: calc( var(--z-page) - 1 );
}
#films{
  z-index: calc( var(--z-page) - 2 );
}



html{
  overflow-y: scroll;
}
@import "nav.less";

#main-content{
  overflow: hidden;
  //transition: all 0.5s;
  margin-top: calc(var(--nav-bar-height));
  @media(min-width: @nav-breakpoint){
    margin-top: 0;
  }
}

