@nav-breakpoint:@screen-lg;

#transition-rect{
  z-index: @z-zoom-layer;
  top: -500px;
  left: 30px;
  position: absolute;
  width: 50px;
  height: 50px;
  //background-color: var(--color-grey-dark);
  //background-color: #f00;
  border: 1px solid #222;
  opacity: 0.9;
  pointer-events: none;
  //mix-blend-mode: screen;
}


#root{
  --grid-padding:1vw;
  --nav-bar-height:70px;
  @media(min-width: @screen-md){
    --nav-bar-height:100px;
  }
  //à partir de là on est plus en burger
  @media(min-width: @screen-xl){
    //--menu-width:400px; plus d'intérêt
    --nav-bar-height:6vw;
  }
}

html{
  overflow-y: scroll;
}
#root{
  //padding-top: var(--nav-bar-height,80px);

  >#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - var(--nav-bar-height,"80px"));
    >#main-content{

    }
    >footer{
      width: 100%;
      min-height: 100px;
    }
  }
}
@import "nav.less";


#films{
  transition: transform 0.25s;
  transform-origin: top;
  &[one-by-one-enabled='0']{
    //background-color: red;
  }
}

body.nav-open{

}

html,body{
  scroll-behavior: smooth;
}

body{
  scroll-behavior: smooth;
  &.nav-open{
    #films{
      display: block !important;
      .film{
        @media(min-width: @nav-breakpoint){
          height: 12vw;
          .h0{
            font-size: 12vw;
          }
        }
      }
    }
    #main-content{
      display: none;
    }
  }


  #main-content{
    z-index: @z-page;
  }

  #films{
    display: none;
  }
  &[is-home='true']{
    #films{
      display: block;
    }
    #main-content{
      display: none;
    }
  }

}
