@import "hello-logo";
#nav{

}

@pad:15px;

#nav-bar{
  position: fixed;
  z-index: @z-nav;
  top: 0;
  left: 0;
  height: var(--nav-bar-height,80px);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  //background-color: #1ab7ea;
  color: var(--color-white);
  >button{
    height: var(--nav-bar-height,80px);
  }


}
#nav-content{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: var(--spacing-medium);
  padding-top: calc( var(--nav-bar-height) + var(--spacing-medium));
  flex-direction: row;
  //align-items: center;
  justify-content: space-between;
  >div{
    width: 300px;
  }
}


//open / close

#nav-content{
  transition: all 0.2s;
  opacity:0;
  pointer-events: none;
  transform: scale(1.3);
}
body.nav-open{
  #nav-content{
    opacity: 1;
    transform: scale(1) translateX(0px);
    pointer-events: auto;
  }
}






