@import "hello-logo";
#nav{
}
@pad:15px;
#nav-bar{
  position: fixed;
  z-index: var(--z-nav);
  top:  0;
  left: 0;
  padding: var(--grid-padding);
  height: var(--nav-bar-height);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.91);
  pointer-events: none;
  a,button{
    pointer-events: auto;
  }
  [is-home='true']:not(.nav-open) & {
    background-color: transparent;
  }

  @media(min-width: @nav-breakpoint){
    background-color: transparent;
  }
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  >button,>.right{
    flex-shrink: 0;
    text-decoration: none;
    height: var(--nav-bar-height,80px);
  }
  [burger-icon]{
    color: #fff;
    width: var(--nav-bar-height,80px);
    height: var(--nav-bar-height,80px);
    svg{
      width: var(--nav-bar-height,80px);
      height: var(--nav-bar-height,80px);
      line{
        stroke: currentColor;
      }
    }
  }

  .right{
    --separator-w:20px;
    min-width: 30px;
    //outline: 1px solid red;
    position: relative;
    display: flex;
    >*{
      flex-shrink: 0;
    }
    .langs{
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      position: absolute;
      height: 100%;
      top: 0;
      right: 100%;
      a{
        display: flex;
        align-items: center;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
        span{
          opacity: 0.5;
        }
        &.active{
          span{
            opacity: 1;
          }
        }
        &:first-child{
          &:after{
            content: "";
            display: block;
            width: var(--separator-w);
            border-top: 1px solid #333;
            height: 1px;
            margin-left: 10px;
            margin-right: 10px;
          }
        }
      }
      @media(min-width: @nav-breakpoint){
          --separator-w:40px;
          top:100%;
          right: 50%;
          height: auto;
          transform-origin: right;
          transform: rotate(-90deg);
      }
    }
  }


}



//open / close
#nav-content{
  position: fixed;
  height: 0;
  z-index:var(--z-nav);
  //background-color: #FFFC00;

}
body.nav-open{
  #nav-content{
    position: relative;
    height: auto;
  }
  #films{
    @media(max-width: @nav-breakpoint){
      .list{
        padding-top: 30px;
      }
    }
  }
}
//ca se passe dedans
#nav-content{
  .left,.right{
    display: none;
    &.left{
      @media(min-width: @nav-breakpoint){
        margin-top: var(--nav-bar-height);
      }
    }
    @media(min-width: @nav-breakpoint){
        z-index: var(--z-nav);
        width: 25vw;
        position: fixed;
        &.left{
          top: 0;
        }
        &.right{
          right: 0;
          bottom: 0;
        }
    }
  }
  hr{
    border-top-width: 5px;
    border-color: var(--color-grey-dark);
    width: 100%;
  }

  .left,.right{
    padding: 10px;
  }



}






