@import "hello-logo";
#nav{
}

@pad:15px;

#nav-bar{
  position: fixed;
  z-index: @z-nav;
  top:  0;
  left: 0;
  padding: var(--grid-padding);
  height: var(--nav-bar-height);
  //outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  //padding: 10px;
  align-items: center;
  //background-color: #1ab7ea;
  color: var(--color-white);
  >button{
    height: var(--nav-bar-height,80px);
  }


}
#nav-content{

  width: 100%;
  height: 100%;
  position: fixed;
  //la place du logo
  top: 0;
  padding-top: var(--nav-bar-height);
  max-height: calc(100vh);
  left: 0;
  display: flex;
  //padding: var(--spacing-medium);

  >div{
    //outline: 1px solid rgba(255, 0, 0, 0.44); outline-offset: -10px;
    position: relative;
  }

  hr{
    border-top-width: 5px;
    //border-top-style: dotted;
    border-color: var(--color-grey-dark);
    //flex-grow: 1;
    //flex-shrink: 0;
    width: 100%;
  }
  .row{
    width: 100%;

    >div{
      //display: flex;
      //flex-direction: column;
      //justify-content: center;
      //align-items: center;
      padding-left: var(--grid-padding);
      padding-right: var(--grid-padding);
      min-height: 100px;
      max-height: calc(100vh - var(--nav-bar-height));
      //outline: 1px solid rgba(255, 255, 0, 0.13);outline-offset: -10px;
      overflow-x: hidden;
      //overflow-y: hidden;

      /* Demonstrate a "mostly customized" scrollbar
       * (won't be visible otherwise if width/height is specified) */
      /*
      &::-webkit-scrollbar {
        width: 1px;
        height: 1px;
        background-color: #000;
      }
      &::-webkit-scrollbar-thumb {
        background: #111;
      }

       */

      background-color: rgba(0, 0, 0, 0.2);
      padding-bottom: 15px;
      &:last-child{
        //outline: 1px solid red;
        //outline-offset: -10px;
        flex-direction: column;
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}


//open / close

#nav-content{
  z-index:@z-under-page;
  transition: all 0.2s;
  opacity:0.0;
  pointer-events: none;
  *{
    pointer-events: none;
  }
  a,[contenteditable]{
    pointer-events: auto;
  }
  transform: scale(1.3);
}
body.nav-open{
  #nav-content{
    z-index: @z-nav;
    opacity: 1;
    transform: scale(1) translateX(0px);
  }
}






