#transi-film{
  position: fixed;

  left: 0;
  width: 100%;
  @media(max-width: @nav-breakpoint){
    transition: all 0.5s;
    >.f{
      transition: all 0.5s;
    }
  }

  top: 0;
  height: 100vh;

  overflow: hidden;
  pointer-events: none;
  transform-origin: top right;
  opacity:0;
  *{
    outline-offset: -2px;
  }
  >.f{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    //height: calc( 100vw / 16 * 9);
    //@media(min-width: @nav-breakpoint) {
      height: 100vh;
    //}
    background-color: #000;
    .dev-test & {
      background-color: #333333;
    }

    .titre{
      color: #fff !important;
      position: absolute;
      height: var(--film-height);
      font-size: var(--film-font-size-zoom);
      line-height: 1;
      //outline: 1px solid red;
      //transform-origin: top left;
    }
  }
  >.images{
    mix-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: yellow;
    //opacity: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      display: none;
      //width: 100%;
      //height: 100%;
      width: 70vw;
      height: calc( var(--film-height) * 1.5 );
      object-fit: cover;
      object-position: center center;
      &.visible{
        display: block;
      }
    }
  }
  &.as-poster{
    position: absolute;
  }
  &.auto-size{
    opacity: 1;

    @media(max-width: @nav-breakpoint){
      top: var(--nav-bar-height);
      height: calc( 100vw / 16 * 9);
      >.f{
        height: calc( 100vw / 16 * 9);
      }
    }

    >.f{
      @media(min-width: @nav-breakpoint) {
        transform: scale(1.2);
      }
      //transform: rotate(-1deg);
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
  &.blink{
    animation-name:kf-blink ;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

@keyframes kf-blink {
  from{
    opacity: 1;
  }
  to{
    opacity: 0.5;
  }
}
